body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#sidepanel {
    width: 360px;
    min-width: 300px;
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    outline: 1px solid black;
}

#title-container {
    background-color: #d3d3d3;
    text-align: center;
    padding: 5px 10px 0 10px;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid black;
}

.title-content {
    display: flex;
    align-items: center;
}

.title-logo {
    margin-right: 5px;
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

#title-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-bottom: 15px;
    width: auto;
}

.mode-button {
    font-weight: bold;
    flex: 1;
    min-width: 0;
    padding: 5px 5px;
    background-color: white;
    border: 1px solid #ccc;
    color: rgb(165, 163, 163);
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.special-padding {
    padding: 10px 10px;
}

.mode-button:hover {
    background-color: #ddd;
}

.mode-button.active {
    background-color: rgb(173, 173, 173);
    border-color: black;
    color: black;
}

#geocoder-container {
    font-size: 12px;
    outline: 1px solid black;
    width: 90%;
    margin: 20px auto 0 auto;
    padding: 5px;
}

#fips-container {
    font-size: 24px;
    width: 90%;
    margin: 20px auto 0 auto;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    /* white-space: nowrap;  */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#county-region-container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between the containers */
    padding: 5px; /* Optional: Add padding around the container */
}

#county-container, #region-container {
    flex: 1; /* Make both containers take equal space */
    padding: 5px; /* Optional: Add padding inside each container */
    text-align: center;
    font-weight: bold;
}

.county-label, .region-label {
    font-size: 14px;
}

.county-name, .region-name {
    font-size: 18px;
}

#button-group-container {
    width: 100%; /* Ensure the container takes full width of the sidebar */
    display: flex;
    justify-content: space-around; /* Distribute items evenly without gaps */
    align-items: center; /* Center-align items vertically */
    padding: 5px 0; /* Add padding around the container */
    
}

#button-group-container .line-item {
    flex: 1; /* Make items take equal space */
    position: relative; /* Position relative for pseudo-elements */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove horizontal margin */
    padding: 10px 0; /* Add padding for spacing */
    font-size: 12px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

#button-group-container .line-item::before,
#button-group-container .line-item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgb(218, 217, 217); /* Line color */
}

#button-group-container .line-item::before {
    top: 0; /* Position line above the text */
}

#button-group-container .line-item::after {
    bottom: 0; /* Position line below the text */
}

#button-group-container .line-item:hover {
    background-color: lightgray; /* Highlight background on hover */
}

#bottom-ribbon-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding: 10px 0;
    outline: 1px solid black;
}

#bottom-ribbon-container a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

#bottom-ribbon-container a:hover {
    text-decoration: underline;
}

/* Map container styling */
#map {
    flex-grow: 1;
    background-color: #e5e5e5;
}